<br><br>
<br><br>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h2>重新发送确认邮件</h2>
      </div>
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group field">
            <%= f.label :email, '邮箱' %><br/>
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit '发送确认邮件', class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div>
      <div class="card-footer text-muted">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
