<%= content_for :content do %>

  <%= render 'shared/title', title: '菜品管理' %>

  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: '菜名' %>
          <span class="input-group-btn">
            <%= f.submit '搜索', class: 'btn btn-outline-dark' %>
          </span>
        </div>
      </div>

      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>

  <% end %>

  <div class="container">
    <div class="row">
      <% @menus.each do |menu| %>
        <div class="col-4 my-3"><%= render menu %></div>
      <% end %>
    </div>
  </div>

  <%= paginate @menus %>

  <div class="fixed-action-btn">
    <%= link_to '+添加菜品', new_menu_path, class: 'btn btn-danger' %>
  </div>
<% end %>
