<%= content_for :content do %>

  <%= render 'shared/title', title: '商铺管理' %>

  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: '商铺名' %>
          <span class="input-group-btn">
          <%= f.submit '搜索', class: 'btn btn-secondary' %>
        </span>
        </div>
      </div>
      <div class="col-4 text-right">
        <%= link_to '+添加商铺', new_store_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>商铺名</th>
      <th>介绍</th>
      <th>商铺账号</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @stores.each_with_index do |store, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= store.name %></td>
        <td><%= store.intro %></td>
        <td><%= store.user.email %></td>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to '详情', store, class: 'btn btn-sm btn-secondary' %>
            <%= link_to '编辑', edit_store_path(store), class: 'btn btn-sm btn-secondary mx-1' %>
            <%= link_to('删除', store, method: :delete,
                        class: 'btn btn-sm btn-danger',
                        data: {confirm: '确认删除？'}) %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="fixed-action-btn">
    <%= paginate @stores %>
  </div>

<% end %>
