
<%= link_to '我的订单', wechat_orders_path, class: 'btn btn-sm btn-outline-warning' %>

<div class="list-group">
  <% @stores.each do |store| %>
    <a href="<%= wechat_store_path(store) %>" class="list-group-item list-group-item-action bg-light my-1">
      <div class="row">

        <div class="col-3">
          <%= image_tag 'avatar.png', width: 86, height: 66 %>
        </div>

        <div class="col-7">
          <p><%= truncate store.name %></p>
          <p><small><%= store.intro %></small></p>
        </div>

        <div class="col-2 text-right">
          <%= rand(30..60) %>
        </div>
      </div>
    </a>
  <% end %>
</div>
