<%= link_to '购物车', wechat_cart_path(store_id: @store.id), class: 'weui-btn weui-btn_mini weui-btn_primary' %>

<div class="weui-cells">
  <% @store.menus.each  do |menu| %>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <%= image_tag 'avatar.png', width: 50 %>
      </div>
      <div class="weui-cell__bd">
        <p><%= menu.name %></p>
        <p><%= menu.price / 100.to_f %> 元</p>
      </div>
      <div class="weui-cell__ft">
        <%= link_to 'add cart', add_wechat_cart_path(menu), method: :post, class: 'weui-btn weui-btn_mini weui-btn_primary'  %><br>
      </div>
    </div>
  <% end %>
</div>
