
 <style>
  .list-group-item {
    text-align: left;
  }
</style>
<div class="bg text-center"><img src="<%= image_path("close.png") %>" class="close1" ></div>
<div class="container show-store">
  <div class="container text-center store-name"><%= @store.name %></div>
  <div class="col-2 pl-0 fl">
            <%= image_tag "food0.jpg", width: 50, height: 50 %>
  </div>
  <div class="col-10 text-left  pl-0 col-f fl"><%= @store.intro %></div>
</div>

<div class="container" style="height: 40px; border-bottom: 1px solid #EEEEEE">
  <div class="col-6  fl text-center" style="height:38px;line-height: 38px;color: #666">
  <div class="act1 act" style="margin-left:37.5%;height:38px;line-height: 38px;color: #666;width:25%">点菜</div>
  </div>
  <div class="col-6  fl  text-center" style="height:38px;line-height: 38px;color: #666">
    <div class="act act2" style="margin-left:37.5%;height:38px;line-height: 38px;color: #666;width:25%">商家</div>
  </div>
  </div>
</div>
<div class="menu-all">
<div class="container my-1 fl menu-classify" style="width: 25%;">菜单分类</div>
<div class=" fl" style="width: 74%;margin-left: 1%;">

  <div class="list-group">
    <% @store.menus.published.each_with_index do |menu, index| %>
      <li class="list-group-item menu-infor list-group-item-action my-1" style="height: 120px;">
        <div class=""  style="height: 100px;">
          <div class="fl menu-click" data-menu="<%= menu.id %>">
            <a data-toggle="modal" data-target="#exampleModal">
              <%= image_tag menu.pictures[0].url, width: 75, height: 75 %>
            </a>
          </div>

          <div class="col-8  ovf-h fl h-30 menu-click" data-menu="<%= menu.id %>">
           <%= menu.name %>
           
          </div>
          <div class="col-8  ovf-h fl h-20 menu-click" data-menu="<%= menu.id %>">
            <%= menu.intro %>
          </div>
          <div class="col-4  h-30 fl price<%= index + 1 %> menu-click" data-menu="<%= menu.id %>" style="color: red">
           ￥<%= menu.real_price  %>
          </div>
           

              <div class="add fr add<%= index + 1 %> cart-add<%= menu.id %>" data-add="<%= index + 1 %>">
                <%= link_to add_wechat_cart_path(menu), method: :post, remote: true, class: '' do %>
                  <%= image_tag 'add1.png', width: 22 %>
                <% end %>

              </div>
              
              <span id="menu-<%= menu.id %>" class="mr-10 fr columns dpn columns<%= index + 1 %> quantity<%= menu.id %>" data-columns="<%= index + 1 %>"><%= @cart.item_quantity(menu)%></span>
              
              
              <div class="minus mr-10 fr minus<%= index + 1 %> dpn cart-minus<%= menu.id %>" data-minus="<%= index + 1 %>">
                <%= link_to minus_wechat_cart_path(menu), method: :delete, remote: true, class: '' do %>
                  <%= image_tag 'minus1.png', width: 22 %>
                <% end %>
              </div>
        </div>
      </li>

      <div class="menu-det menu-det<%= menu.id %> dpn">
        <%= image_tag menu.pictures[0].url, class: 'd-block',style: "width: 100%;height:200px;" %>
        <div class="container" style="font-size:24px;font-weight: 500">
          <%= menu.name %>
        </div>
        <div class="container" style="color:red;font-size:20px;">
          <b>￥<%= menu.real_price %></b>
        </div>
        <div style="width:100%;border-top: 2px solid #FAFAFA"></div>
        &nbsp;&nbsp;&nbsp;<small style="color: #989797;">商品信息</small> <br>
        <div class="container-fluid" style="color: #666;padding-bottom: 5px;">
          <%= menu.intro %>
        </div>
        
      </div>
      <!-- Modal -->
      <!-- <div class="modal fade menu-det<%= menu.id %>" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" >
            <%= image_tag menu.pictures[0].url, class: 'd-block',style: "height:200px;" %>
            <div class="container" style="font-size:18px">
              <%= menu.name %>
            </div>
            <div class="container" style="color:red;font-size:16px;">
              ￥<%= menu.real_price %>
            </div>
            <div style="width:100%;border-top: 2px solid #FAFAFA"></div>
            <div class="container-fluid" style="color: #333;">
              <%= menu.intro %>
            </div>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div> -->
    <% end %>
    <div style="height:120px;"></div>
  </div>
</div>
</div>
<div class="store-all dpn">
  <div class="store-det">
      <img src="<%= image_path("address.png") %>" class="store-det-img">
      <span class="store-det-des">营业地址: <%= truncate @store.location.name %></span>
      <img src="<%= image_path("phone.png") %>" class="store-all-img">
    </div>
    <div class="store-det">
      <img src="<%= image_path("safe.png") %>" class="store-det-img">
      <span class="store-det-des">查看食品安全档案</span>
      <img src="<%= image_path("a.png") %>" class="store-all-img"></a>
    </div>
      <div class="store-det">
        <img src="<%= image_path("time.png") %>" class="store-det-img fl">
        
          <span class="store-det-des fl">营业时间: 
            <% if @store.business_hours[0].nil? %>
              暂无
            <% else%>
              <% i = 0 %>
              <% while i< @store.business_hours.length %>
              <%= (@store.business_hours[i].open_at).strftime("%H:%M") %>~<%= (@store.business_hours[i].close_at).strftime("%H:%M") %> 
              <% i += 1 %>
              <% end %>
            <% end %>
          </span>
      </div>
</div>
<div class="footer-cart">
  <div class="fixed-cart-btn fl dpn">
    <!-- Button trigger modal -->
      <a id="cart" style=" display: <%= @cart.total_quantity != 0 ? 'true' : 'none' %>;" data-toggle="modal" data-target="#store-<%= @store.id %>-cart-modal">
          <%= image_tag 'fi-cart.png', class: 'cart', width: 30, height:30 %>

        <div id="store-<%= @store.id %>-cart" class="cart-column dpn col-f text-center">
          <%= @cart.total_quantity  %>
        </div>
      </a>
  
  </div>
  <div class="col-4  mr-2 cart-price text-center col-f fl dpn">¥<%= @cart.total_price  %></div>
  <div class="no-menu col-5 fr no-pay col-f text-center">未选购商品</div>
  <div class="col-4 fr text-center pay dpn">
    <%= link_to '去结算', new_wechat_order_path(store_id: @store), data: {confirm: '确认支付?'},style: "color:#000" %>
  </div>
</div>
<!-- Modal -->
<div class="modal hide" id="store-<%= @store.id %>-cart-modal" tabindex="-1" role="dialog" aria-labelledby="store-<%= @store.id %>-cart-modal" aria-hidden="true" style="display: none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag 'empty-cart.png', class: '', width: 15, height:15, style: "margin-top:6px;margin-left:60%" %>
        <%= link_to '清空购物车', wechat_cart_path(store_id: @store), method: :delete, class: 'fr',style: "color:#666666;font-size:14px;margin-top:3px;margin-left:5px;" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="cart-<%= @store.id %>" class="modal-body">
        <% unless @cart.empty? %>
          <% @cart.items.each do |item| %>
            <% unless item.quantity == 0 %>
              <%= render 'wechat/carts/cart_menu', item: item %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
          <div class="mx-5">
            <strong id="total-price">¥<%= @cart.total_price %></strong>
          </div>
          <div class="text-right">
            
            <%= link_to '去结算', new_wechat_order_path(store_id: @store), class: 'btn btn-sm btn-outline-info', style: "background:#FFD161;border:0px;color: #000;" %>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function ($) {
      var total_quantity = parseInt($(".cart-column").html());
      $(".act1").css("border-bottom","0.1rem inset #D99D54"); 
      $(".act1").css("color","#D99D54");
      $(".home").hide();
      $(".home-click").show();
      if (total_quantity > 0) {
        $(".fixed-cart-btn").show();
        $(".cart-column").show();
        $(".no-pay").hide();
        $(".pay").show();
        $(".cart-price").show();
       
        
      }
    })(jQuery);
    window.onload = function(){
      $(".home").hide();
      $(".home-click").show();
    }
    $(".columns").each(function(){
      var column_id = $(this).data("columns");
      if(parseInt($(this).html()) > 0){
        $(this).show();
        $(".minus"+column_id).show();
        $(".add"+column_id).css("margin-top","0");
      }

    })
    $(".add").click(function(){
      var id = $(this).data("add");
      var columns = parseInt($(".columns"+id).html());
      var total_quantity = parseInt($(".cart-column").html());
      var price = parseFloat($(".price"+id).html().substring(1));
      var total_price = <%= @cart.total_price %>;
      if(columns == 0){
        $(".columns"+id).show();
        $(".minus"+id).show();
        $(this).css("margin-top","0");
        $(".fixed-cart-btn").show();
        $(".no-pay").hide();
        $(".pay").show();
        
      }
      if(total_quantity == 0){
        $(".cart-column").show();
        $(".cart-price").show();
      }
    })
    $(".minus").click(function(){
      var id = $(this).data("minus");
      var columns = parseInt($(".columns"+id).html());
      var total_quantity =parseInt($(".cart-column").html());
      var price = parseFloat($(".price"+id).html().substring(1));
      var total_price = parseFloat($(".cart-price").html().substring(1));
      if(columns == 1){
        $(".columns"+id).hide();
        $(this).hide();

      }
      if(total_quantity ==1 ){
        $(".fixed-cart-btn").hide();
        $(".cart-column").hide();
        $(".no-pay").show();
        $(".pay").hide();
        $(".cart-price").hide();
      }
    })
    $(".bg").on('click', function(){
      $(".menu-det").hide();
      $(".bg").css("z-index",0);
      $(".bg").hide();
      $("body").css('position','static');
    })
    $(".close1").on('click', function(){
      $(".menu-det").hide();
      $(".bg").css("z-index",0);
      $(".bg").hide();
      $("body").css('position','static');
    })
    $(".act").click(function(){
      $(".act").css("color","#666");
      $(".act").css("border-bottom","0");
      $(this).css("color","#D99D54");
      $(this).css("border-bottom","0.1rem inset #D99D54");
    })
    $("#cart").click(function(){
      $("#store-<%= @store.id %>-cart-modal").show();
    })
    $(".menu-click").click(function(){
      var id = $(this).data("menu"); 
      var height = $(".menu-det"+id).height() + 90 + "px";
      $(".close1").css("top",height);
      $(".bg").css('z-index','10');
      $(".bg").show();
      $(".menu-det"+id).show();
     

    })
    $(".act1").click(function(){
      $(".menu-all").show();
      $(".store-all").hide();
    })
    $(".act2").click(function(){
      $(".store-all").show();
      $(".menu-all").hide();
    })
</script> 
