<div id="cart-menu-<%= item.menu_id %>" class="row">
  <div class="col-6 ovf-h">
    <%= truncate item.menu.name %>
  </div>
  <div class="col-2">
    <font id="cart-menu-<%= item.menu_id %>-price">¥<%= item.price %></font>
  </div>
  <div class="col-4 text-right">

    <div class="btn-group btn-group-sm" role="group">
      <%= link_to minus_wechat_cart_path(item.menu), method: :delete, remote: true, class: '' do %>
        <%= image_tag 'minus1.png', width: 18 %>
      <% end %>
      <span id="cart-menu-<%= item.menu_id %>-quantity" class="text-center ml-10" style="width:20px;"><%= item.quantity %></span>
      <%= link_to add_wechat_cart_path(item.menu), method: :post, remote: true, class: 'ml-10' do %>
        <%= image_tag 'add1.png', width: 18 %>
      <% end %>
    </div>
  </div>
</div>
