<br><br>
<style>
  .order-info {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }
</style>
<div class="container ">
  <div class="card">
    <div class="order-info my-1">
      <div class="row">
        <div class="col-8">
          <%= @order.store.name %>
        </div>

        <div class="col-4 text-right">
          ¥ <%= @order.amount %>
        </div>
      </div>
    </div>
    <% @order.items.each do |item| %>
      <div class="bg-light order-info my-1">
        <div class="row">
          <div class="col-3">
            <%= image_tag 'food0.jpg', size: '56x46' %>
          </div>
          <div class="col-6">
            <%= item[:menu].name %><br>
            <small>x <%= item[:quantity] %></small>
          </div>
          <div class="col-3 text-right">
            ¥<%= item[:menu].price %>
          </div>
        </div>
      </div>
    <% end %>


    <div class="my-3 mx-3 text-right">
      <%= link_to '取消订单', wechat_order_path(@order), method: :delete,
                  class: "btn card-link btn-sm btn-outline-info", data: {confirm: 'Are you sure?'} %>
      <%= link_to '支付', wechat_payment_path(order_id: @order.id), method: :post,
                  class: "btn card-link btn-sm btn-outline-info" %>
    </div>
  </div>

</div>