<div class="container my-3 border text-center" style="background: #FFF;padding-bottom: 10px;">
    <%= image_tag 'double_lines.png', size: '80x20' %>
    <p class="fs-18">订单已完成</p>
    <p>感谢您的支持，欢迎下次光临</p>
    <div class="btn btn-sm btn-outline-dark " style="border: 0.1rem solid #DADADA;box-shadow: 0.1rem #DADADA;border-radius: 0.25rem">申请退款</div>
    <div class="btn btn-sm btn-outline-info " style="background: #FFD161;color:#000;border: 0.1rem solid #FFD161;box-shadow: 0.1rem #FFD161;border-radius: 0.25rem;">再来一单</div>
  </div>
  <div class="container border" style="background: #FFF;padding-bottom: 10px;">
    
      <div class="my-1" style="height: 50px;padding-top:10px;">
        <a href="<%= wechat_store_path(@order.store) %>" style="color: #000;">
          <div class="col-1 fl" style="padding-left: 10px;">
                  <%= image_tag "food0.jpg", width: 30, height: 30 %>
          </div>
          <div class="col-8 fl ovf-h"><%= @order.store.name %></div>
          <div class="col-1 fr" style="margin-right: 10px;">
            <%= image_tag "a.png", width: 15, height: 15 %>
          </div>
        </a>
      </div>
      <% @order.items.each do |item| %>
        <div class="my-1" style="padding-left:10px;background: #FAFAFA;width:100%              ">
          <div class="row">
            <div class="col-2">
              <%= image_tag item[:menu].pictures[0].url, size: '45x45' %>
            </div>
            <div class="col-6 text-left ovf-h">
              <%= item[:menu].name %><br>
              <small>x <%= item[:quantity] %></small>
            </div>
            <div class="col-3 text-right my-2">
              ¥<%= item[:menu].real_price %>
            </div>
          </div>
        </div>
      <% end %> 
      <div class="my-2 text-right" style="font-size: 18px;">合计<strong style="color: red">￥<%= @order.amount %></strong></div>
      <div class="container text-center" style="border-top:2px dotted #F0F0F0;height: 40px;line-height: 40px;">
        <%= image_tag "phone.png", width: 40, height: 40 %>电话商家
      </div>                                
  </div>
    <% unless @order.address.nil? %>
    <span>配送信息</span><br>
    <div class="bg-light order-info my-1">
      <div class="row">
        <div class="col-4">
          配送地址：
        </div>
        <div class="col-8">
          <%= @order.address.name %><br>
          <%= @order.address.phone_number %><br>
          <%= @order.address.info %><br>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container border my-3" style="height: 120px;background: #FFF;">
    <div class="col-4 text-center fl" style="height: 40px;line-height: 40px;color: #999">订单号码</div>
    <div class="col-8 fl" style="height: 40px;line-height: 40px;color: #333"><%= @order.number %></div>
    <div class="col-4 text-center fl" style="height: 40px;line-height: 40px;color: #999">订单时间</div>
    <div class="col-8 fl" style="height: 40px;line-height: 40px;color: #333"><%= (@order.updated_at+28800).strftime("%Y-%m-%d %H:%M:%S") %></div>
    <div class="col-4 text-center fl" style="height: 40px;line-height: 40px;color: #999">支付方式</div>
    <div class="col-8 fl" style="height: 40px;line-height: 40px;color: #333">在线支付</div>
  </div>

<script type="text/javascript">
  (function ($) {
      $(".order").hide();
      $(".order-click").show();
    })(jQuery);
  window.onload = function(){
      $(".order").hide();
      $(".order-click").show();
    }
</script>