<%= render 'wechat/addresses/nav' %>

<div class="container">
  <div class="list-group">
    <a href="<%= edit_wechat_address_path(@address) %>" class="list-group-item list-group-item-action bg-light my-1 text-left">
      <%= @address.name %>-<%= @address.phone_number %><br>
      <%= @address.info %><br>
    </a>
  </div>
  <br>
  <div class="text-right">
    <%= link_to '编辑', edit_wechat_address_path(@address), class: 'btn btn-sm btn-outline-info' %>
    <%= link_to '删除', wechat_address_path(@address), method: :delete, class: 'btn btn-sm btn-outline-info' %>
  </div>
</div>