<!DOCTYPE html>
<html>
  <head>
    <title>JfOrder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/info_message' %>

    <% if user_signed_in? %>
      <%= render 'layouts/sidebar' %>
    <% else %>
      <br><br>
      <%= yield %>
    <% end %>

  </body>
</html>
