<!DOCTYPE html>
<html>
<head>
  <title>JfOrder</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<%= yield %>

<br><br><br><br>

<nav class="navbar navbar-dark bg-light fixed-bottom custom-nav">
  <div class="container">
    <a href="<%= wechat_stores_path %>" class="align-middle mx-2">
      <%= image_tag 'stores.png', width: 32 %>
    </a>
    <a href="<%= wechat_orders_path %>" class="align-middle mx-2">
      <%= image_tag 'orders.png', width: 32 %>
    </a>
    <a href="<%= wechat_user_path(current_user) %>" class="align-middle mx-2">
      <%= image_tag 'account.png', width: 32 %>
    </a>
  </div>
</nav>

</body>
</html>
